/* ################ MAIN CSS FOR FORMULAR ################ */
.formular-content {
  margin: 0 auto;
  width: auto;
  padding: 0 20px;
}

/* ################ CSS GRID FORMULAR ################ */
.formular{
  padding-top: 20px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns:auto auto;
  grid-template-areas:
  "errorBox errorBox"
  "firstname firstname"
  "surname surname"
  "email email"
  "phone phone"
  "password password"
  "pass-confirm pass-confirm"
  "agb agb"
  "submit return";
}

.firstname{
  grid-area: firstname;
}

.surname{
  grid-area: surname;
}

.email{
  grid-area: email;
}

.phone{
  grid-area: phone;
}

.password{
  grid-area: password;
}

.pass-confirm{
  grid-area: pass-confirm;
}

.agb{
  grid-area: agb;
}

.return{
  grid-area: return;
}

.firstname,
.surname,
.email,
.phone,
.password,
.pass-confirm,
.agb{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.firstname label,
.surname label,
.email label,
.phone label,
.password label,
.pass-confirm label,
.agb label{
  padding: 8px 0;
  font-size: 1.8rem;
  color: rgba(255,255,255,1)
}

.agb{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

/* START CSS FORMULAR */
.formular .agb input{
  -ms-flex-item-align: center;
  align-self: center;
  margin-right: 8px;
}

.formular div:not(.errorBox){
  padding: 0 5px 5px 5px;
}

.formular input{
  font-size: 1.3rem;
  border: none;
  padding: 11px;
  border-radius: 0.7rem;
  border: 1px solid rgba(86,86,86,1);
}

/* ################ START CSS SUBMIT BOTTUN ################ */
button.submit{
  grid-area: submit;
  background-color: rgba(211,16,48,1);
  border-radius: 0.7rem;
  justify-self: flex-start;
}

button.submit{
  border: none;
  font-weight: 600;
  padding: 12px 27px;
  font-size: 1.5rem;
  color: rgba(255,255,255,1);
}

/* ################ START CSS RETURN BUTTON ################ */
form.formular > a.return{
  grid-area: return;
  background-color: rgba(74, 74, 74,1);
  border-radius: 0.7rem;
  padding: 12px 27px;
  justify-self: flex-end;
  font-weight: 600;
  color: rgba(212, 212, 212,1);
  border: none;
  font-size: 1.5rem;
  text-decoration: none;
}

a.return i{
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

a.return span{
  padding-left:10px;
}

/* ################ CSS ERROR ################ */
.error label, .error{
  color: rgba(211,16,48,1);
  background-color: rgba(255,230,230,1);
  border-radius: 0.7rem;
}

.error{
  border: 1px solid rgba(211,16,48,1);
}

.errorBox{
  margin-bottom: 20px;
  padding: 16px;
  background-color: rgba(255,230,230,1);
  color:rgba(211,16,48,1);
  border-radius: 0.7rem;
  border: 1px solid rgba(211,16,48,1);
  font-size: 1.3rem;
  line-height: 2rem;
  grid-area: errorBox;
  display: none;
}

.errorBox div{
  font-size: 1.5rem;
  font-weight: 600;
}

.errorBox ul li i{
  font-size: 1.3rem;
  padding-right: 8px;
}

/* ################ CSS SEND FORMULAR INFO ################ */
.send-formular{
  color: green;
  background-color: rgba(174,255,175,1);
  border: 2px solid green;
  border-radius: 1.5rem;
  padding: 15px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin: 50px auto 0 auto;
  display: none;
}

/* ################ START MEDIA QUERY ################ */
@media (min-width: 450px) and (max-width: 559.9px) {

.formular-content .formular{
  grid-template-columns: auto auto;
  grid-template-areas:
  "errorBox errorBox"
  "firstname firstname"
  "surname surname"
  "email email"
  "phone phone"
  "password password"
  "pass-confirm pass-confirm"
  "agb -"
  "submit return";
}
}

@media (min-width: 560px){

.formular-content .formular{
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
  "errorBox errorBox errorBox errorBox"
  "firstname firstname surname surname"
  "email email email phone"
  "password password pass-confirm pass-confirm"
  "agb - - -"
  "submit submit return return";
}
}

@media (min-width: 700px){

.formular-content{
  margin: 0px auto;
  padding: 0 60px;
}

.formular-content .formular{
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
  "errorBox errorBox errorBox errorBox"
  "firstname firstname surname surname"
  "email email email phone"
  "password password pass-confirm pass-confirm"
  "agb - - -"
  "submit submit return return";
}
}

@media (min-width: 992px){

.formular-content{
  margin: 100px auto 200px auto;
  width: 60rem;
  padding: 0 20px;
}

.formular-content .formular{
  grid-gap: 20px;
  grid-template-columns: auto auto auto auto;
  grid-template-areas:
  "errorBox errorBox errorBox errorBox"
  "firstname firstname surname surname"
  "email email email phone"
  "password password pass-confirm pass-confirm"
  "agb - - -"
  "submit submit return return";
}
}
