/* ################ GALLERY PIC CONTAINER ################ */
.slider-container{
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}
.gallery-hero-pic{
  border: 1px solid #888;
  width: 65%;
  margin: 5% auto;
  position: relative;
}

.sidecontent:before{
  display: none;
  content: 'S';
}
.hero-pic-container {
    width: 100%;
    max-width: 100%;
}
.gallery-pic{
  width: 100%;
}
.exit-button{
  font-size: 2.5rem;
  padding: 1.5rem;
  right: 0;
  color: rgba(255,255,255,1);
  position: absolute;
}
.prev{
  left: 2%;
}
.next{
  -ms-flex-item-align: end;
  align-self: flex-end;
  right: 2%;
}
.prev,.next{
  display: none;
  cursor: pointer;
  top: 28%;
  position: absolute;
  font-size: 3.5rem;
  color: rgba(255,255,255,1);
  padding: 8px;
}
/* ################ THUMB PIC CONTAINER ################ */
.thumb-slide-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 1.6rem 1.6rem;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 380ms;
  transition-duration: 380ms;
  -webkit-transform: translateX(0px);
  transform: translateX(0px);

}
.thumb-pic{
  width: 100%;
  padding: 0.7rem 0.6rem;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}

/* ################ START MEDIA QUERYS ################ */
@media (max-width: 400px){
  .prev,.next{
    top: 34%;
    font-size: 2.8rem;
  }
  .thumb-pic{
    width: 100%;
  }
}

@media (min-width: 450px) and (max-width: 559.9px) {
.prev,.next{
  display: block;
  top: 42%;
}
.thumb-pic{
  width: 22%;
  padding: 0.7rem 0.6rem;
  -webkit-filter: brightness(35%);
  filter: brightness(35%);
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 500ms;
  transition-duration: 500ms;
}
.thumb-pic:hover{
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.activeThumb{
  -webkit-filter: brightness(100%);
  filter: brightness(100%);
}
.sidecontent:before{
  display: none;
  content: 'L';
}
}
@media (min-width: 560px){
.sidecontent:before{
  display: none;
  content: 'L';
}

.prev,.next{
  top: 42%;
}
.prev{
  left: 2.9%;
}
.next{
  right: 3.9%;
}
.thumb-pic{
  width: 30%;
  padding: 1rem 1rem;
  -webkit-filter: grayscale(70%);
  filter: grayscale(70%);
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
  -webkit-transition-duration: 300ms;
  transition-duration: 300ms;
}
.thumb-pic:hover{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
.activeThumb{
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
}
}
@media (min-width: 700px){

.prev,.next{
    top: 43%;
}
.next{
  right:  4.7%;
}
.prev{
  left: 4.6%;
}
.thumb-pic{
  width: 20%;
}
}
@media (min-width: 900px){
.thumb-pic{
  width: 22%;
  padding: 1rem 1rem;
}
}
@media (min-width: 1200px){
.prev,.next{
  top: 46%;
}
.prev{
  left: 5.6%;
}
.next{
    right: 5.5%;
  }
  .thumb-pic{
    width: 23%;
    padding: 1rem 1rem;
  }
}
