/* ################ MAIN CSS ################ */
.no-scroll{
  overflow: hidden;
}
:root{
  font-size: 8px;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width: 700px) {
  :root{
    font-size: 10px;
  }
}
::-moz-selection {
  background: rgba(211,16,48,1);
}
::selection {
  background: rgba(211,16,48,1);
}
input:focus {
    outline: none;
    border-color: transparent;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}
h1{
 font-size: 3rem;
}
h2{
  font-size: 2rem;
  line-height: 3rem;
}
h3{
  font-size: 2.6rem;
  line-height: 3rem;
}
h4{
  font-weight: 600;
  font-size: 1.9rem;
  line-height: 2rem;
  padding: 8px 0;
}
h5{
  font-size: 1.8rem;
}
body{
  background-color: rgba(86,86,86,1);
}
.sidecontent{
  max-width: 1400px;
  margin: 0 auto;
}
.sidecontent img{
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
}
/* ------------------------------------------------ */

/* ################ CSS IMPRESSUM ################ */
.sidecontent-impressum{
  max-width: 600px;
  margin: 10% auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.impressum{
  color: rgba(255,255,255,1);
  padding: 20px;
  }
.impressum a{
    text-decoration: none;
    color: rgba(255,255,255,1);
}
.impressum p{
    font-size: 1.5rem;
    line-height: 1.8rem;
    padding: 16px 0;
}
.impressum h1{
  -ms-flex-item-align: center;
  align-self: center;
  padding-top: 20px;
  border-bottom: 1px solid;
  padding: 20px;
}
.impressum h2{
  padding-top: 30px;
}
/* ------------------------------------------------ */

/* ################ START NAVI CSS ################ */
header{
  background-color: rgba(42,42,42,1);
}
nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.nav-bar{
  padding: 0 16px;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  z-index: 1;
}
.nav-bar-left{
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
/* START CSS MENU MOBILE*/
.navigation-mobile{
  color: white;
  position: absolute;
  right: 0;
  text-align: end;
  font-size: 2.2rem;;
  background-color: rgba(42,42,42,1);
  max-width: 0;
  height: 100vh;
  overflow: hidden;
  -webkit-transition: max-width 0.5s ease;
  transition: max-width 0.5s ease;
}
.dropdown-menu-content-m{
  padding: 12px 17px 12px 6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 145px;
}
.dropdown-menu-content-m:nth-child(1){
  padding-top: 30px;
}
.dropdown-menu-content-m a{
  color: white;
  text-decoration: none;
}
.dropdown-menu-content-m div.navi-point{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.dropdown-list-content-m{
  padding-right: 20px;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.7s ease-out;
  transition: max-height 0.7s ease-out;
}
.dropdown-list-style-m li{
  padding: 5px;
}
.dropdown-list-style-m li:nth-child(1){
  padding-top: 15px;
}
.dropdown-list-style-m li:last-child{
  padding-bottom: 15px;
}
.burger-menu{
  color: rgba(255,255,255,1);
  font-size: 3rem;
}
/* ################ START ANIMATION NAVI POINTS ################ */
div.navi-point i{
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out;
}
div.navi-point.active-list-m i{
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
div.navi-point p{
    padding-left: 8px;
}

/* ############################################################# */
.hrc-logo{
  width: 5rem;
  cursor: pointer;
}
.nav-bar-right{
  display: none;
}
.nav-bar-right a{
  text-decoration: none;
}
.navigation{
  display: none;
}
a button.register-button-mobile{
  cursor: pointer;
  border: none;
  background: transparent;
  color: rgba(255,255,255,1);
}
a button.register-button-mobile i{
  font-size: 2rem;
  padding-left: 10px;
}
.change-lang{
  display: none;
}

/* ################ START MAIN CONTENT CSS ################ */
/* ################ HERO PICTURE CSS ################ */
.hero-slider-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
.prev{
  left: 0;
}
.next{
  -ms-flex-item-align: end;
  align-self: flex-end;
  right: 0;
}
.prev,.next{
  cursor: pointer;
  top: 23%;
  position: absolute;
  font-size: 3.5rem;
  color: rgba(255,255,255,1);
  padding: 8px;
}
.counter-dots {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgba(255,255,255,1);
    -ms-flex-item-align: center;
    align-self: center;
    padding: 8px;
    margin: 0 auto 0px 40px;
}
.dot{
  cursor: pointer;
  padding: 8px 10px 5px 10px;
  border-radius: 50%;
  background-color: rgba(135,135,135,1);
  margin: 0 5px;
}
.dot.active{
  padding: 8px 10px 0px 10px;
  border-radius: 50%;
  background-color: rgba(211,16,48,1);
}
.hero-pic-container{
  position: relative;
  -webkit-transform: skew(-4deg,0deg);
  transform: skew(-4deg,0deg);
  max-width: 85%;
  max-height: 100%;
  height: 21.5rem;
  overflow: hidden;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255,255,255,1);
}
.hero-pic{
  position: absolute;
  left: -60px;
  width: 54rem;
  height: 23rem;
  background-size: cover;
  -webkit-transform: skew(4deg,0deg);
  transform: skew(4deg,0deg);
}
.text-container{
  display: none;
}
.text-container-m{
  -webkit-transform: skew(-4deg,0deg);
  transform: skew(-4deg,0deg);
  width: 80%;
  left: 58px;
  bottom: 19px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  color: rgba(255,255,255,1);
}
.text-container-m .hero-pic-date p,
.text-container-m .hero-pic-button p,
.text-container-m .hero-pic-text-container h2{
  -webkit-transform: skew(4deg,0deg);
  transform: skew(4deg,0deg);
  z-index: 1;
}
.hero-pic-text-container{
  padding: 2rem 4rem 2rem 2rem;
  background-color: rgba(211,16,48,1);
}
.text-container-m .hero-pic-button{
  position: absolute;
  -webkit-box-ordinal-group:2;
  -ms-flex-order:1;
  order:1;
  padding: 16px;
  background-color: rgba(42,42,42,1);
  bottom: -33px;
  right: 16px;
  font-size: 1.4rem;
}
.hero-pic-button i{
  padding-left: 10px;
  font-size: 1.5rem;
}
.hero-pic-date{
  top: -20px;
  left: -8px;
  position: absolute;
  padding: 8px;
  background-color: rgba(74,74,74,1);
  font-size: 1.5rem;
}
.hero-pic-date i{
  padding-right: 10px;
}
/* ################ NEWS CONTAINER ################ */
.news-container{
  padding: 30px 16px;
}
/* ################ GRID ################ */
.news-box-container{
  display: grid;
  grid-gap: 20px;
  grid-template-columns: auto;
  grid-template-areas:
  "nw1"
  "nw2"
  "nw3"
  "nw4"
  "nw5"
  "nw6"
  "cta-g"
}
.nw1{
  grid-area: nw1;
}
.nw2{
  grid-area: nw2;
}
.nw3{
  grid-area: nw3;
}
.nw4{
  grid-area: nw4;
}
.nw5{
  grid-area: nw5;
}
.nw6{
  grid-area: nw6;
}
.cta-g{
  margin: 0 auto;
  -ms-flex-item-align: center;
  align-self: center;
  grid-area: cta-g;
}
.header-container{
  color: rgba(255,255,255,1);
}
.news-box-container{
  padding-top: 20px;
  color: rgba(255,255,255,1);
  font-size: 1.5rem;
  line-height: 1.8rem;
}
.nw1, .nw2, .nw3, .nw4,
.nw5, .nw6{
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}
.news-date{
  top: 14px;
  left: -8px;
  position: absolute;
  background-color: rgba(211,16,48,1);
  padding: 8px;
  font-size: 1.3rem;
}
.news-date i{
  padding-right: 10px;
}
.text-nw p{
  padding-top:8px;
  font-size: 1.5rem;
}
button.cta-g-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: none;
  border-radius: 0.7rem;
  background-color: rgba(211,16,48,1);
  padding: 10px;
  color: rgba(255,255,255,1);
  font-size: 1.5rem;
  cursor: pointer;
}
button.cta-g-content i{
  font-size: 1.5rem;
  padding-left: 10px;
}
.games-container{
  padding: 0 16px;
}
.games-container-list{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  padding-top: 20px;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.coming-games{
  width: 19rem;
  padding: 8px;
}

/* ################ FOOTER CONTENT ################ */

footer{
  background-color: rgba(42,42,42,1);
}
.footer-content{
  padding: 70px 16px;
  margin-top: 100px;
}
.footer-navi{
    display: grid;
    grid-gap: 20px;
    grid-template-columns: auto auto;
    grid-template-areas:
    "footer-navi-list-1 footer-navi-list-2"
    "footer-navi-list-3 footer-navi-list-4";
    color: rgba(255,255,255,1);
}
.footer-navi-list-1{
  grid-area: footer-navi-list-1;
}
.footer-navi-list-2{
  grid-area: footer-navi-list-2;
}
.footer-navi-list-3{
  grid-area: footer-navi-list-3;
}
.footer-navi-list-4{
  grid-area: footer-navi-list-4;
}
.footer-navi-list h5{
  padding: 2rem 0;
}
.footer-navi-list ul li,
.footer-navi-list ul a{
  font-size: 1.4rem;
  padding: 8px 0;
  color: rgba(180,180,180,1);
  cursor: pointer;
  text-decoration: none;
}
.footer-navi-list:nth-child(4) ul{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer-navi-list:nth-child(4) ul li{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 2.8rem;
}
.footer-navi-list:nth-child(4) ul li:nth-child(2){
  padding-left: 16px;
}
.sponsor-logos-container{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 12px 12px;
  background-color: rgba(255,255,255,1);
  margin-top: 84px;
  margin-bottom: 30px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.sponsor{
  padding: 12px 12px;
  text-align: center;
  max-width: 12rem;
}
.sponsor img{
  max-height: 5rem;
  width: auto;
}
.copyright{
  color: rgba(255,255,255,1);
  letter-spacing: 0.3rem;
}
/* ################ START MEDIA QUERYS ################ */
@media (min-width: 380px) and (max-width: 449.9px) {
  .nw1-content,
  .nw4-content,
  .nw5-content,
  .nw6-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .pic-nw1,.nw1-content .text-nw,
  .pic-nw4,.nw4-content .text-nw,
  .pic-nw5,.nw5-content .text-nw,
  .pic-nw6,.nw6-content .text-nw{
    width: 48%;
  }
}
@media (min-width: 450px) and (max-width: 559.9px) {
.hero-pic-container {
  height: 35rem;
  max-width: 90%;
}
div.hero-pic{
  left: -142px;
  width: 80rem;
  height: 100%;
}
.prev,.next{
    top: 29%;
}
.news-box-container{
  grid-template-areas:
  "nw1 nw2"
  "nw1 nw2"
  "nw3 nw3"
  "nw4 nw5"
  "nw6 nw6"
  "cta-g cta-g"
}

.nw6-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pic-nw6,.nw6-content .text-nw{
  width: 48%;
}
.coming-games{
  width: 23rem;
  padding: 8px;
}
}
@media (min-width: 560px){
.prev,.next{
  top: 33%;
}
.prev{
  left: 3.9%;
}
.next{
  right: 3.9%;
}
.counter-dots{
  -ms-flex-item-align: center;
  align-self: center;
  margin: 0;
}
.news-box-container{
  grid-template-areas:
  "nw1 nw2"
  "nw1 nw2"
  "nw3 nw3"
  "nw4 nw5"
  "nw6 nw6"
  "cta-g cta-g"
}
.nw6-content{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.pic-nw6,.nw6-content .text-nw{
  width: 48%;
}
.text-container-m{
  display: none;
}
.text-container{
  -webkit-transform: skew(4deg,0deg);
  transform: skew(4deg,0deg);
  right: -45px;
  position: absolute;
  bottom: 112px;
}
div.hero-pic{
  width: 80rem;
  height: 36rem;
  left: -44px;
}
.hero-pic-container{
  width: 80rem;
  height: 34rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: rgba(255,255,255,1);
}
.text-container{
  top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  position: relative;
}
.hero-pic-text-container{
  padding: 52px 100px 46px 35px;
  background-color: rgba(211,16,48,1);
}
.hero-pic-button{
  position: absolute;
  padding: 16px;
  background-color: rgba(42,42,42,1);
  bottom: -12px;
  left: -7px;
  font-size: 1.4rem;
}
.hero-pic-button i{
  padding-left: 10px;
  font-size: 1.5rem;
}
.hero-pic-date{
  top: 14px;
  left: -8px;
  position: absolute;
  padding: 8px;
  background-color: rgba(74,74,74,1);
  font-size: 1.5rem;
}
.hero-pic-date i{
  padding-right: 10px;
}
}
@media(min-width: 580px){
.coming-games{
  width: 29rem;
  padding: 16px;
}
.footer-navi{
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
    "footer-navi-list-1 footer-navi-list-2 footer-navi-list-3 footer-navi-list-4";
}
}
@media (min-width: 700px){
  .prev,.next{
    top: 35%;
  }
  .news-box-container{
    grid-template-columns: auto auto auto;
    grid-template-areas:
    "nw1 nw1 nw2"
    "nw3 nw3 nw2"
    "nw4 nw5 nw6"
    "nw4 nw5 nw6"
    "cta-g cta-g cta-g"
  }
  .nw1-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .pic-nw1,.nw1-content .text-nw{
    width: 48%;
  }
  .nw6-content{
    display: block;
  }
  .pic-nw6,.nw6-content .text-nw{
    width: 100%;
  }
  div.hero-pic{
    width: 110rem;
    height: 44rem;
    left: -44px;
  }
  .hero-pic-container{
    height: 40rem;
  }
}
@media (min-width: 900px){
  .prev,.next{
    top: 40%;
  }
  .prev{
    left: 4.9%;
  }
  .next{
    right: 4.8%;
  }
  .news-box-container{
    grid-template-columns: auto auto auto auto;
    grid-template-areas:
    "nw1 nw2 nw3 nw3"
    "nw1 nw2 nw3 nw3"
    "nw4 nw2 nw5 nw6"
    "nw4 nw2 nw5 cta-g"
  }
  .nw1-content,
  .nw6-content{
    display: block;
  }
  .pic-nw1, .nw1-content .text-nw,
  .pic-nw6, .nw6-content .text-nw{
    width: 100%;
  }
  div.hero-pic{
    width: 115rem;
    height: 50rem;
    left: -44px;
  }
  .hero-pic-container{
    height: 50rem;
    width: 100%;
  }
}
@media (min-width: 992px){
  .prev,.next{
    top: 40%;
  }
  .prev{
    left: 5.6%;
  }
  .next{
    right: 5.6%;
  }
  .nav-bar-left,
  .nav-bar-right{
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .navigation{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: rgba(255,255,255,1);
    font-size: 1.5rem;
    padding-left: 16px;
  }
  .dropdown-menu-content{
    padding: 25px 10px;
  }
  .change-lang{
    margin-left: 8px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .change-lang li{
    margin: 0 8px;
    width: 1.5rem;
  }
  ul.change-lang{
    background-color: rgba(74,74,74,1);
    border-radius: 0.7rem;
    padding: 8px;
  }
  button.register-button{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: none;
    border-radius: 0.7rem;
    background-color: #d31030;
    padding: 10px;
    color: rgba(255,255,255,1);
    font-size: 1.5rem;
    margin-right: 8px;
    cursor: pointer;
  }
  button.register-button i{
    font-size: 1.3rem;
    padding-left: 10px;
    padding-top: 2px;
  }
  button.register-button-mobile{
    display: none;
  }
  div.burger-menu{
    display: none;
  }
  /* DROPDOWN MENU */
  .dropdown-list-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    background-color: rgba(42,42,42,1);
    top: 57px;
    padding: 16px 40px 40px 40px;
    left: 50px;
    display: none;
    border-radius: 0 0 5px 5px;
  }
  .dropdown-list-style li{
    padding: 8px;
    position: relative;
  }
  .dropdown-list-content li{
    cursor: pointer;
    width: 22.5rem;
  }
  .navigation li a, .navigation a{
    text-decoration: none;
    color: white;
  }
  .navigation li.dropdown-menu-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
  }
  .navigation li.dropdown-menu-content p{
    padding-right: 8px;
  }
  /* START ANIMATION NAVI POINTS */
  .navigation li.dropdown-menu-content i{
    -webkit-transition: -webkit-transform 0.7s;
    transition: -webkit-transform 0.7s;
    transition: transform 0.7s;
    transition: transform 0.7s, -webkit-transform 0.7s;
  }
  .navigation li.dropdown-menu-content:hover i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .navigation li.dropdown-menu-content.active-list i{
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }

  .navigation li.dropdown-menu-content.active-list:hover  i{
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  .navigation .dropdown-menu-content:hover,
  .navigation .dropdown-menu-content:hover .dropdown-list-content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .dropdown-list-style li:hover::after{
    font-family: "Font Awesome 5 Free"; font-weight: 900; content: "\f104";
    padding-left: 8px;
  }
  .navigation li.dropdown-menu-content:nth-child(3) a{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .navigation li.dropdown-menu-content:nth-child(3) a  i{
    display: none;
  }
  .navigation li.dropdown-menu-content:nth-child(3).active-list a  i{
    display: block;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
  }
}
@media (min-width: 1200px){
  .prev,.next{
    top: 37%;
  }
  .prev{
    left: 5.7%;
  }
  .next{
    right: 5.5%;
  }
  div.hero-pic{
    width: 127rem;
    height: 60rem;
    left: -44px;
  }
  .hero-pic-container{
    height: 50rem;
    width: 100%;
  }
  .sponsor{
    max-width: auto;
  }
}
